*{
    box-sizing:border-box;
}

html{
    min-width:20rem;
}

body{
    font-size:1rem;
    line-height: 1.5em;
    color:#222;
    font-family: "Abel", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
    max-width:100%;
    height:auto;
}


/* Header */

header{

}

/* Main */

main{
    text-align:center;
}

@media (min-width:37.5rem){
    main{
        text-align:left;
    }
}

/* Search Page */

/* Filters */

@media (max-width:31.25rem){
    section.filters{
        padding:0 .5rem 1rem;
        margin-top:1rem;
        border:solid 1px transparent;
    }

    section.filters.open{
        border:solid 1px #e5e5e5;
    }
}

section.filters ol{
    list-style: none;
    padding-left: 0;
    display: none;
}

@media (min-width:31.25rem){
    section.filters ol{
        display:block;
    }
}

section.filters ol > li{
    list-style: none;
    padding-left: 0;
    margin-top:.5rem;
}

section.filters button.filter-trigger{
    margin-top:-1rem;
}

@media (min-width:31.25rem){
    section.filters button.filter-trigger{
        display:none;
    }
}

@media (min-width:31.25rem){
    section.filters ol > li{
        width: 20%;
        float:left;
        margin-left:-1px;
        margin-bottom:-1px;
    }
}

@media (min-width:56.25rem){
    section.filters ol > li{
        width: 15%;
    }

    section.filters ol > li:last-child{
        width:calc(15% + 1rem);
        float:right;
    }
}

section.filters ol li > *{
    display:block;
}

section.filters ol li label{
    font-size:0.75rem;
    text-transform: uppercase;
}

/* List */

section.list ol{
    list-style: none;
    padding-left:0;
    margin:0 0 4.8rem;
}

section.list ol li{
    padding:2em 1em;
}

@media (min-width:37.5rem) {
    section.list ol li{
        display:flex;
        justify-content:space-between;
        padding:1em 1em .25em;
    }
}

section.list dd{
    margin-left:0;
}

@media (min-width:37.5rem) {
    section.list ol li dl{
        width:67%;
    }
}

@media (min-width:37.5rem) {
    section.list ol li p.price, section.list ol li div.button-wrapper{
        width:16.5%;
    }
}

section.list ol li dl div.info > *{
    display:inline-block;
}

section.list ol li dl div.info dt{
    display:block;
}

@media (min-width:37.5rem) {
    section.list ol li dl div.info dt{
        display:inline-block;
    }
}

section.list ol li p.price span{
    display:block;
}

/* Profile Page */

body.profile main header{
    display:flex;
    border-bottom:solid 1px #e5e5e5;
}

body.profile main header > div{
    width:61.8%;
    border-right:solid 1px #e5e5e5;
    padding:1rem 2rem;
}

body.profile main header dl{
    width:38.2%;
    padding:.25rem 2rem;
}

body.profile main header dl div{
    margin:.25rem 0;
}

body.profile main header dl dt, body.profile main header dl dd{
    display: inline-block;
}

body.profile main header dl dd{
    margin-left:0;
    font-size:.875rem;
}

body.profile main header dl dt{
    font-size:.75rem;
}

body.profile main header dl div.availability dd{
    font-size:.75rem;
    text-transform:uppercase;
}

body.profile main header dl div.certificates dd{
    font-size:.75rem;
    font-style:italic;
    padding:.015rem 1rem .028rem .5rem;
    margin-left: -.5rem;
    border:solid 1px #e5e5e5;
    border-radius:1rem;
}

body.profile main header dl div.certificates dd:before{
    content:"\f0a3";
    font-family:FontAwesome;
    font-style:normal;
    padding-right:.25rem;
}

/* Footer */

footer{
    font-size:0.875rem;
    padding:.875rem;
}


@media (min-width:37.5rem) {
    footer{
        display:flex;
        justify-content:space-between;
    }
}

footer a{
    padding:.875rem .4375rem;
}

footer a:first-child{
    padding-left:.875rem;
}

@media (max-width:37.5rem) {
    footer small, footer ul{
        display:block;
        margin:.875rem auto;
        text-align: center;
    }
}

@media (min-width:37.5rem) {
    footer small, footer ul{
        margin:0;
    }
}

footer ul{
    padding-left:0;
}

footer ul li{
    display: inline-block;
}